* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(53, 90, 133);
    color: aliceblue;
    padding: 15px 15px 15px 15px;
}

main {
    display: flex;
}

p {
    font-size: 20px;
    font-weight: bold;
    width: 40vh;
}

form {
   padding:20px 20px 20px 20px; 
}

#cityName {
    width: 30vh;
}

.current-title-container {
    box-sizing: border-box;
    width: 100px;
    height: 300px;
    border: 1px solid black;
}

.card-block {
    background-color: rgb(93, 194, 253);
    height: 30vh;
}

.all-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 100px;
    gap: 50px;
    width:85%;
    
}