* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(53, 90, 133);
    color: aliceblue;
    padding: 5px 5px 5px 5px;
}

.card-body {
    background-color: rgb(93, 194, 253);
}

section {
    display: flex;
    flex-direction: row;
}